.footer {
  

  padding: 1.5rem 0;
 
  text-align: center;
 
  border-top: solid 2px rgba($colour-1, 0.3);
  letter-spacing: 0.3px;
  @include respond(largePhone) {
    letter-spacing: 0;
    width: 90%;
  }
}