.weather-search {

  &__form {
   
    margin-top: 3rem;
    margin-bottom: 5rem;
    display:flex;
    flex-direction:row;
    
    width: 50%;
    
  }

  &__input {
    flex-grow:2;
    border: none;
    background-color: rgba($colour-2, 0.1);
    padding: 0.5rem 3rem;
    border-radius: 2px;
    
  

    &:focus {
      outline: none;
      border-bottom: solid 2px $colour-2;
    }
  }


  &__button {
    padding: 1.2rem;
    color: $colour-2;
    background-color: rgba($colour-2, 0.1);
   
    &:focus {
      outline: none;
    }
  }
}